{% extends 'main/base.html.twig' %}

{% block title %}Регистрация - LooCash{% endblock %}

{% block body %}
    <div class="row justify-content-center">
        <div class="col-md-12 text-center mb-4"><a href="/" class="logo logo-lg">Loo<b>Cash</b></a></div>
        <div class="form form-sign_up bg-white p-5 col-lg-5 rounded">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}