.account {
  border-radius: 60px;
  background-color: #fafafa;
  padding: 70px 120px;

  @include media-breakpoint-down(md) {
    padding: size(4);
    border-radius: $border-radius-lg;
  }

  &__navigation {
    margin-bottom: size(7);

    @include media-breakpoint-down(md) {
      margin-bottom: size(4);
    }

    ul {
      display: flex;
      align-items: center;
      list-style: none;
      margin: 0;
      padding: 0;
      justify-content: space-between;

      @include media-breakpoint-down(md) {
        display: block;
      }

      li {
        color: #333;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        letter-spacing: 1.2px;
        position: relative;

        @include media-breakpoint-down(md) {
          font-size: 14px;
        }

        a {
          color: inherit;

          &:hover {
            color: $primary;
          }
        }

        &.is-active {
          &:before {
            content: '';
            width: 60px;
            height: 3px;
            border-radius: 2px;
            background-color: $primary;
            position: absolute;
            bottom: -20px;
            left: 0;
          }

          @include media-breakpoint-down(md) {
            color: $primary;

            &:before {
              display: none;
            }
          }
        }
      }
    }
  }

  &__content {

  }

  &__edit-account {
    .form-group {
      margin-bottom: size(6);

      span {
        font-size: 10px;
        color: #333;
      }
    }
  }

  &__orders {

  }

  &__order {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: size(3);

    @include media-breakpoint-down(md) {
      flex-direction: column;
      align-items: normal;
    }
  }
}