.bank_card {
  padding: size(3) size(4);

  &__icon {
    margin-right: 24px;

    .icon {
      width: 60px;
      height: 40px;
      border-radius: 4px;
      background-color: #F8FAFB;
      display: flex;
      align-items: center;
      justify-content: center;
    }

  }

  &__name {
    font-size: 16px;
    color: $dark;
  }

  &__label {
    color: $secondary-dark;
  }

  &__balance {
    &_value {
      font-size: 16px;
      color: $dark;
    }

    &_name {
      color: $secondary-dark;
    }
  }

  &:hover {
    background-color: rgba($primary, .05);
  }

}