.profit-total {
  width: 130px;
  height: 130px;
  border-radius: 50%;
  background-color: rgba($primary, .05);
  color: $primary;
  display: flex;
  align-items: center;
  justify-content: center;

  &__inner {

  }

  &__amount {
    font-size: 32px;
    line-height: 1.2;
  }

  &__name {

  }
}