.card {

  &__header {
    margin: - size(4);
    margin-bottom: 0;
    padding: 18px size(4);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-title {
      font-size: 16px;
      color: $dark;
      line-height: 1.2;
    }
  }

}

@import "transactions";
@import "spendings";
@import "balances";
@import "filters";