{% extends 'main/base.html.twig' %}

{% block title %}Password Reset Email Sent{% endblock %}

{% block body %}
    <p>Было отправлено электронное письмо со ссылкой, по которой вы можете щелкнуть, чтобы сбросить пароль. Эта ссылка истечет через {{ tokenLifetime|date('g') }} час(а).</p>
    <p>Если вы не получили письмо, проверьте папку со спамом или <a href="{{ path('app_forgot_password_request') }}">попробуйте еще раз</a>.</p>
{% endblock %}
