{% extends 'main/base.html.twig' %}

{% block body %}

    <table class="table table-striped">
        {% for card in cards %}

            <tr>
                <td>{{ card.bank }}</td>
            </tr>

        {% endfor %}
    </table>

{% endblock %}