.balance {
  white-space: nowrap;
  letter-spacing: 0.175px;

  &.minus {
    color: $dark;
  }

  &.plus {
    color: $green;
  }

}

.balance-all {
  text-align: center;

  &__title {
    font-size: 14px;
    color: $gray;
    margin-bottom: size(2);
  }

  .balance {
    font-size: 22px;
  }

  &__balance {
    display: flex;
    align-items: center;
    justify-content: center;

    i {
      margin-right: size(2);
    }
  }

  &-income {
    color: $green;
  }

  &-expenses {
    color: $red;
  }

}