@each $color, $value in $theme-colors {
  .btn-#{$color} {
    color: $white;

    &:hover {
      color: $white;
    }
  }
}

@each $color, $value in $theme-colors {
  .btn-outline-#{$color} {
    color: $dark;
  }
}


.btn {
  position: relative;
  text-transform: uppercase;
  letter-spacing: calcRem(0.3px);
  outline: none !important;
  box-shadow: none !important;

  &-primary, &-secondary, &-dark {

  }

  &-primary {

  }

  &-secondary {

  }

  &-light {
    color: $dark;

    &:hover {
      color: $dark;
    }
  }

  &-dark {

  }

  &-link {

    &:after {
      margin-left: 4px;
    }
  }

  @include hover-focus-active {
    outline: none !important;
    box-shadow: none !important;
  }
}

