@import "buttons";
@import "loading";
@import "form";
@import "message";
@import "input-group";
@import "flags";
@import "tabs";
@import "select";

@import "modal";
@import "balance";
@import "tagsinput";
@import "pagination";
@import "table";
@import "datepicker";
@import "range";

.time-interval {

  display: flex;
  align-items: center;
  margin: size(3);

  .day {
    display: flex;
    align-items: center;

    .value {
      padding: 3px 6px;
      background-color: rgba($primary, .2);
      color: $primary;
    }
  }
}