.flag {
  width: 23px;
  height: 15px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  display: inline-block;

  &-ru {
    background-image: url('../images/flags/ru.png');
  }

  &-en {
    background-image: url('../images/flags/en.png');
  }

  &-kk {
    background-image: url('../images/flags/kk.png');
  }

  &-zh {
    background-image: url('../images/flags/zh.png');
  }
}
