.box {
  background-color: $light;
  border-radius: calcRem(10px);
  @extend .shadow-sm;
  margin-bottom: size(4);


  &__title {
    font-size: 20px;
    margin-bottom: size(4);
    border-bottom: 1px solid $gray-light;
    padding: size(3) size(4);
  }

  &-cards {
    background-color: transparent;
    box-shadow: none!important;
    margin-bottom: 0;
  }

  &-balances {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: size(4);
  }

}