.subscription {
  margin-bottom: calcRem(60px);
  border-radius: $border-radius-lg;
  padding: calcRem(60px);
  text-align: center;

  &__title {
    color: $white;
  }

  &__text {
    color: $white;
    opacity: .5;
  }
}