// TODO Remove line-height
.header {

  &__menu {
    display: flex;
    align-items: center;

    span {
      font-size: 20px;
      line-height: 1;
      letter-spacing: 0.2px;
      color: $dark;
      font-weight: 400;
    }
  }
}

.sidenav {
  width: 70px;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 5000;
  border-right: 1px solid $gray-300;
  transition: $transition-base;

  .menu-icon {
    position: absolute;
    top: 130px;
    right: 0;
  }

  .navbar-brand {
    width: 100%;
  }

  .footer, .account__name {
    transition: $transition-base;
    opacity: 0;
    visibility: hidden;
  }

  .account {
    padding-left: 12px;
    padding-right: 12px;

    &__icon {
      margin-right: 0;
    }

    &__name {
      width: 0;
    }
  }

  &__menu {

  }

  &__item {
    a {
      color: $dark;
      letter-spacing: 0.3px;
      padding: 23px 24px;
      width: 100%;
      display: flex;
      align-items: center;
      line-height: 1;
      border-left: 2px solid transparent;
      transition: $transition-base;

      i {
        margin-right: 18px;
        color: $gray-700;
        font-size: 18px;
        width: 20px;
      }

      span {
        transition: $transition-base;
        opacity: 0;
        visibility: hidden;
      }
    }

    &:hover {
      a {
        border-color: $primary;
        background-color: $gray-100;

        i {
          color: inherit;
        }
      }
    }
  }

  &.active {
    left: 0;
    width: 240px;

    .account {
      padding-left: 24px;
      padding-right: 24px;

      &__icon {
        margin-right: 16px;
      }

      &__name {
        opacity: 1;
        visibility: initial;
        width: auto;
      }
    }

    .sidenav__item {
      a {
        span {
          opacity: 1;
          visibility: initial;
        }
      }
    }

    .footer {
      opacity: 1;
      visibility: initial;
    }
  }
}

.navbar-brand {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  b {
    font-weight: 500;
  }
}

body.admin-bar {
  .header {
    top: 32px;
  }
}