// TODO Remove line-height
.header {
  height: 64px;

  &__menu {
    display: flex;
    align-items: center;

    span {
      font-size: 20px;
      line-height: 1;
      letter-spacing: 0.2px;
      color: $dark;
      font-weight: 400;
    }
  }

  // TODO Added block info account
  &__account {

    &_icon {
      width: 40px;
      height: 40px;
      font-size: 20px;
      line-height: 35px;
    }

    &_name {

    }

  }
}

.sidenav {
  width: 240px;
  height: 100vh;
  position: fixed;
  left: -250px;
  top: 0;
  z-index: 5000;
  border-right: 1px solid $gray-300;
  transition: $transition-base;

  &.active {
    left: 0;
  }

  .navbar-brand {
    width: 100%;
  }

  &__menu {

  }

  &__item {
    a {
      color: $dark;
      letter-spacing: 0.3px;
      padding: 23px 25px;
      width: 100%;
      display: flex;
      align-items: center;
      line-height: 1;
      border-left: 2px solid transparent;
      transition: $transition-base;

      i {
        margin-right: 18px;
        color: $gray-700;
        font-size: 18px;
        width: 20px;
      }

      span {

      }
    }

    &:hover {
      a {
        border-color: $primary;
        background-color: $gray-100;

        i {
          color: inherit;
        }
      }
    }
  }
}

.navbar-brand {
  font-weight: 300;
  font-size: 20px;
  letter-spacing: 0.2px;
  text-transform: uppercase;

  b {
    font-weight: 500;
  }
}

body.admin-bar {
  .header {
    top: 32px;
  }
}