{% if value %}
    <span class="icon-inex income {{ size }}"><i class="fas fa-arrow-down"></i></span>
{% else %}
    <span class="icon-inex expense {{ size }}"><i class="fas fa-arrow-up"></i></span>
{% endif %}