.form-check {
  position: relative;

  .form-check-input {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
    border: 0;
    padding: 0;
  }

  .form-check-input:not(.form-check-tag) {

    & + label {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 300;
      font-size: $font-size-sm;

      &:before {
        content: '';
        display: inline-block;
        width: 20px;
        height: 20px;
        border-radius: $border-radius-sm;
        background-color: rgba($secondary, .7);
        transition: $transition-base;
        margin-right: 4px;
      }

      &:after {
        content: '';
        border: solid white;
        position: absolute;
        top: 6px;
        transform: rotate(132deg);
        border-width: 2px 2px 0 0;
        width: 11px;
        height: 6px;
        left: 4px;
        opacity: 0;
        transition: $transition-base;
      }
    }

    &:checked {

      & + label {
        &:before {
          background-color: $primary;
        }

        &:after {
          opacity: 1;
        }
      }
    }
  }

  .form-check-tag {
    & + label {
      border-radius: $border-radius-sm;
      background-color: rgba($secondary, .7);
      margin-right: 6px;
      margin-bottom: 4px;
      padding: 2px 6px;
      font-size: 14px;
      font-weight: 300;
      cursor: pointer;
      color: $gray-100;

      &:hover {
        background-color: rgba($secondary, .9);
      }
    }

    &:checked {

      & + label {
        color: $light;
        background-color: $primary;
      }

    }
  }
}