{% extends 'main/base.html.twig' %}

{% block title %} Настройки профиля - LooCash {% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="card-content">
                {% for message in app.flashes('success') %}
                    <div class="alert alert-success mb-3" role="alert">
                        {{ message }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                    </div>
                {% endfor %}

                <div class="row">
                    <div class="col-sm-9">

                    </div>
                    <div class="col-sm-3">
                        <a href="{{ path('user_settings_keys') }}">Ключи доступа</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}