{% extends 'main/base.html.twig' %}

{% block title %} Ключи доступа - LooCash {% endblock %}

{% block body %}

    <div class="card">
        <div class="card-body">
            <div class="card-content">
                <div class="row">
                    <div class="col-sm-9">
                        {% for message in app.flashes('success') %}
                            <div class="alert alert-success mb-3" role="alert">
                                {{ message }}
                                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                            </div>
                        {% endfor %}

                        <div class="mb-5 pb-5 border-bottom">
                            <h3>Monobank</h3>
                            <div class="">{{ form(formMonobankToken) }}</div>
                        </div>

                        <div class="">
                            <h3>ПриватБанк</h3>
                            <div class="">{{ form(formPrivatToken) }}</div>
                        </div>
                    </div>
                    <div class="col-sm-3">
                        <a href="{{ path('user_settings_keys') }}">Ключи доступа</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}