{% extends 'main/settings/base.html.twig' %}

{% block title %} Безопасность - LooCash {% endblock %}

{% block content %}

    <h6 class="display-5 pb-2 mb-3 border-bottom text-black-50">Изменить пароль</h6>

    {{ form(form) }}

{% endblock %}