.lightpick {
  position: absolute;
  z-index: 99999;
  border-radius: $border-radius;
  background-color: $white;
  box-shadow: 0 2px 16px rgba(153, 155, 168, 0.12);
  color: $dark;

  &.is-hidden {
    display: none;
  }

  &--inlined {
    position: relative;
    display: inline-block;
    width: 100%;
    box-shadow: none;
    z-index: auto;

    .lightpick__month {
      width: 100%;
    }
  }

  &__months {
    display: grid;
    background-color: #eee;
    grid-template-columns: auto;
    grid-gap: 1px;
  }

  &__month {
    width: 360px;
    background-color: $white;
  }

  &__month-title-bar {
    margin-bottom: 20px;
    padding: 16px size(4);
    background-color: #F8FAFB;
    position: relative;
  }

  &__month-title {
    font-size: 16px;
    font-weight: normal;
    cursor: default;
    text-align: center;
    width: 70%;
    margin: auto;
    position: relative;
    z-index: 101;

    > {
      .lightpick__select {
        border: none;
        background-color: transparent;
        outline: none;
        -moz-appearance: none;
        -webkit-appearance: none;
        appearance: none;

        &:disabled {
          color: #333;
        }
      }

      .lightpick__select-months {
        margin-right: size(2);
      }
    }
  }

  &__toolbar {
    display: flex;
    text-align: center;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    padding: 0 size(4);
    transform: translateY(-50%);
    z-index: 100;
  }

  &__previous-action {
    transform: rotate(-135deg);
  }

  &__next-action {
    transform: rotate(45deg);
  }

  &__previous-action, &__next-action {
    width: 14px;
    height: 14px;
    outline: none;
    background-color: transparent;
    font-size: 0;
    border: solid #778CA2;
    border-width: 1px 1px 0 0;
  }

  &__days-of-the-week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px;
    padding-left: size(4);
    padding-right: size(4);
    margin-bottom: size(4);
  }

  &__day-of-the-week {
    font-size: 14px;
    color: $secondary-dark;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
  }

  &__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 8px;
    padding-left: size(4);
    padding-right: size(4);
    padding-bottom: size(4);
  }

  &__day {
    width: 32px;
    height: 32px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: default;
    border-radius: 2px;
    color: $dark;

    &.is-today {
      color: $secondary;
      background-color: rgba($secondary, .1);
    }

    &:not(.is-disabled):hover {
      background-color: $primary;
      color: $white;
    }

    &.is-disabled {
      opacity: 0.38;
      pointer-events: none;

      &.is-forward-selected {
        opacity: 1;

        &:not(.is-start-date) {
          background-color: rgba(38, 139, 210, 0.1);
          background-image: none;
        }
      }
    }

    &.disabled-tooltip {
      pointer-events: auto;
    }

    &.is-previous-month, &.is-next-month {
      opacity: 0.38;
    }

    &.lightpick__day.is-in-range:not(.is-disabled) {
      opacity: 1;
    }

    &.is-in-range {
      background-color: rgba($primary, 0.1);
      color: $primary;
    }

    &.is-start-date.is-in-range {
      background-color: $primary;
      color: $white;
    }

    &.is-end-date.is-in-range {
      &.is-flipped {
        background-color: $primary;
        color: $white;
      }

      background-color: $primary;
      color: $white;
    }
  }
}

.lightpick--2-columns .lightpick__months {
  grid-template-columns: auto auto;
}

.lightpick--3-columns .lightpick__months {
  grid-template-columns: auto auto auto;
}

.lightpick--4-columns .lightpick__months {
  grid-template-columns: auto auto auto auto;
}

.lightpick--5-columns .lightpick__months {
  grid-template-columns: auto auto auto auto auto;
}

.lightpick__close-action {
  display: flex;
  margin-left: 6px;
  width: 32px;
  height: 32px;
  outline: none;
  border: none;
  border-radius: 50%;
  background-color: #ddd;
  justify-content: center;
  align-items: center;
}

.lightpick__previous-action:active, .lightpick__next-action:active, .lightpick__close-action:active {
  color: inherit;
}

.lightpick__close-action {
  font-size: 18px;
}


//.lightpick__day {
//  display: flex;
//  height: 40px;
//  background-position: center center;
//  background-size: contain;
//  background-repeat: no-repeat;
//  font-size: 13px;
//  justify-content: center;
//  align-items: center;
//  cursor: default;
//
//  &.is-today {
//    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(220, 50, 47, 0.5)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
//    background-size: 18.8% auto;
//    background-position: center bottom;
//    color: #dc322f;
//  }
//
//  &:not(.is-disabled):hover {
//    background-size: contain;
//    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23e0e0e0' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
//  }
//
//  &.is-disabled {
//    opacity: 0.38;
//    pointer-events: none;
//
//    &.is-forward-selected {
//      opacity: 1;
//
//      &:not(.is-start-date) {
//        background-color: rgba(38, 139, 210, 0.1);
//        background-image: none;
//      }
//    }
//  }
//
//  &.disabled-tooltip {
//    pointer-events: auto;
//  }
//
//  &.is-previous-month, &.is-next-month {
//    opacity: 0.38;
//  }
//
//  &.lightpick__day.is-in-range:not(.is-disabled) {
//    opacity: 1;
//  }
//
//  &.is-in-range {
//    border-radius: 0;
//    background-color: rgba(38, 139, 210, 0.1);
//    background-image: none;
//
//    &:hover {
//      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='rgba(38, 139, 210, 0.5)' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
//    }
//  }
//
//  &.is-start-date.is-in-range {
//    border-top-left-radius: 50%;
//    border-top-right-radius: 0;
//    border-bottom-right-radius: 0;
//    border-bottom-left-radius: 50%;
//    background-color: #268bd2;
//    background-image: none;
//  }
//
//  &.is-end-date.is-in-range {
//    &.is-flipped {
//      border-top-left-radius: 50%;
//      border-top-right-radius: 0;
//      border-bottom-right-radius: 0;
//      border-bottom-left-radius: 50%;
//      background-color: #268bd2;
//      background-image: none;
//    }
//
//    border-top-left-radius: 0;
//    border-top-right-radius: 50%;
//    border-bottom-right-radius: 50%;
//    border-bottom-left-radius: 0;
//    background-color: #268bd2;
//    background-image: none;
//  }
//
//  &.is-start-date {
//    &.is-in-range.is-flipped {
//      border-top-left-radius: 0;
//      border-top-right-radius: 50%;
//      border-bottom-right-radius: 50%;
//      border-bottom-left-radius: 0;
//      background-color: #268bd2;
//      background-image: none;
//    }
//
//    &.is-end-date {
//      background-color: transparent;
//      background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23268bd2' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
//    }
//
//    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23268bd2' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
//    background-size: auto;
//    background-position: center;
//    color: #fff;
//    font-weight: bold;
//  }
//
//  &.is-end-date, &.is-start-date:hover, &.is-end-date:hover {
//    background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 32 32'%3E%3Ccircle fill='%23268bd2' cx='16' cy='16' r='16'/%3E%3C/svg%3E");
//    background-size: auto;
//    background-position: center;
//    color: #fff;
//    font-weight: bold;
//  }
//}

.lightpick__tooltip {
  position: absolute;
  margin-top: -4px;
  padding: 4px 8px;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  font-size: 11px;
  pointer-events: none;

  &::before {
    position: absolute;
    bottom: -5px;
    left: calc(50% - 5px);
    border-top: 5px solid rgba(0, 0, 0, 0.12);
    border-right: 5px solid transparent;
    border-left: 5px solid transparent;
    content: '';
  }

  &::after {
    position: absolute;
    bottom: -4px;
    left: calc(50% - 4px);
    border-top: 4px solid #fff;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;
    content: '';
  }
}

.lightpick__footer {
  display: flex;
  justify-content: space-between;
}

.lightpick__reset-action, .lightpick__apply-action {
  border-radius: 5px;
  font-size: 12px;
  border: none;
}

.lightpick__reset-action {
  color: #fff;
  background-color: #aeacad;
}

.lightpick__apply-action {
  color: #fff;
  background-color: #2495f3;
}