.field-checkbox-tag {

  input[type=checkbox] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;

    &:checked {

      & + label {
        background-color: $secondary;
        color: $white;
      }

    }
  }

  label {
    border-radius: $border-radius;
    background-color: rgba($secondary, .1);
    color: $secondary;
    margin-bottom: size(2);
    margin-right: size(2);
    height: 36px;
    display: inline-flex;
    align-items: center;
    padding-left: size(3);
    padding-right: size(3);
    cursor: pointer;
    transition: all 250ms ease 0s;

    &:hover {
      background-color: $secondary;
      color: $white;
    }
  }
}

.field-switch {

  input[type=checkbox] {
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;

    &:checked {

      & + label {
        color: $dark;

        &:before {
          background-color: $primary;
        }

        &:after {
          background-color: $white;
          left: 20px;
        }
      }

    }
  }

  label {
    position: relative;
    padding-left: 58px;
    font-size: 14px;
    font-weight: 500;
    color: $gray-light;
    user-select: none;
    cursor: pointer;

    &:before, &:after {
      content: '';
      display: inline-block;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      transition: all 250ms ease 0s;
    }

    &:before {
      width: 40px;
      height: 22px;
      border-radius: 12px;
      background-color: $border-color;
      left: 0;
    }

    &:after {
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background-color: $secondary-dark;
      left: 4px;
    }
  }


}

.field-range {

  &__element {
    margin-bottom: 18px;
  }

  &__inputs {
    display: flex;
    align-items: center;
    justify-content: space-between;

    input {
      padding: 0;
      line-height: 1;
      font-weight: 500;
      font-size: 12px;
      color: $dark;
      border: 0;
      outline: none !important;

      &:first-of-type {
        text-align: left;
      }

      &:last-of-type {
        text-align: right;
      }
    }
  }

}