.modal-backdrop {
  z-index: 9000;
}

.modal {
  z-index: 9010;

  &__content {
    background-color: $white;
    box-shadow: 0 2px 16px rgba(153, 155, 168, 0.12);
    border-radius: $border-radius;
    width: 100%;
    position: relative;
    pointer-events: auto;
  }

  &__header {
    height: 56px;
    display: flex;
    align-items: center;
    padding: 0 size(4);
    font-size: 16px;
    color: $dark;
    border-bottom: 1px solid $border-color;
  }

  &__body {
    padding: size(4);
  }

  &__close {
    font-size: 20px;
    color: $gray-light;
    line-height: 1;
    position: absolute;
    top: 19px;
    right: 14px;
    border: 0;
    background-color: transparent;
    padding: 0;
    outline: none !important;


    &:hover {
      color: $primary;
    }
  }

  &-question {

    .modal-body {
      padding: 82px;

      @include media-breakpoint-down(sm) {
        padding: 40px 30px;
      }
    }
  }

  &-product {

    .modal-dialog {
      max-width: 1170px;
    }

    .modal-body {
      padding: 50px;

      @include media-breakpoint-down(sm) {
        padding: 15px;
      }
    }

    .modal__bottom {
      padding-top: 20px;

      @include media-breakpoint-down(sm) {
        padding-top: 10px;
      }

      .card__price {
        margin-bottom: 30px;
        line-height: 1;

        @include media-breakpoint-down(sm) {
          margin-bottom: 12px;
        }
      }
    }
  }
}

.modal.modal-transaction {

}